html {
    height: 100%;
    width: 100%;
  }

body {
    margin:auto;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    }

h1,h2 {
    margin: 20 20 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    }

.perfil{
    width: 148px;
    height: 184px;
    float: right;
    position: relative;
    top: 40px; right: 50px;
    color: #fff;
  }

.gmail{
    border-image-slice: 100%;
    width: 40px;
    height: 30px;
    color: #fff;
}

.github{
    border-image-slice: 100%;
    width: 40px;
    height: 30px;
    color: #fff;
}

.linked{
    border-image-slice: 100%;
    width: 40px;
    height: 30px;
    color: #fff;
}

th {
    background-color: white;
    text-align: center;
    }