html {
    height: 100%;
    width: 100%;
  }

body {
    margin:100%;
    padding:auto;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    }

div.name {
    width: 50%;
    margin: 20px auto;
    background-color: #449;
    color: #fff;
    padding: 15px;
    text-align: center;
  }

div.name h1{
    width: 50%;
    margin: 20px auto;
    background-color: #449;
    color: #fff;
    padding: 15px;
    text-align: center;
  }

div.name img.perfil{
    width: 100px;
    height: 100px;
    float: right;
  }