html {
    height: 100%;
    width: 100%;
  }

body {
    margin:auto;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    }

h1,h2 {
    margin: 40 40 40px;
    padding: 00;
    color: #fff;
    text-align: center;
    }

.perfil {
    width: 148px;
    height: 184px;
    float: right;
    position: relative;
    top: 25px; right: 60px;
    color: #fff;
  }

.gmail{
    border-image-slice: 100%;
    width: 40px;
    height: 30px;
    color: #fff;
    padding: 20px;
}

.github{
    border-image-slice: 100%;
    width: 40px;
    height: 30px;
    color: #fff;
    padding: 20px;
}

.linked{
    border-image-slice: 100%;
    width: 40px;
    height: 30px;
    color: #fff;
    padding: 20px;
}

.email {
    color: #fff;
    text-align: center;
    padding: 20px;
    }

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    }

thead th:nth-child(1) {
    width: 30%;
    }
    
thead th:nth-child(2) {
width: 20%;
}
    
thead th:nth-child(3) {
width: 15%;
}
      
th, td {
    padding: 20px;
  }